# Directories to Ignore
build/
dist/
drillvision.egg-info/
.env
.idea/
.mypy_cache/
.pytest_cache/
.src/
.test/
.dataset*/
.dataclass_prac/
.deep_model/
.ec2_key/
.google_drive_credential/
.htmlcov/
.s3_dataset/
.test_resources/
.tox/
.vscode/
/neural_network_model/__pycache__/
/tests/__pycache__/
/dataset*/
/tests/augmented_dataset/
/tests/dataset/
/filtered_dataset*/
/dataset*/
/s3_dataset/
/deep_model/
/htmlcov/

# Files to Ignore
.coverage*
.neural_network_model/settings.json
/ec2_key/
/segmentation_dataset_ad_kmean/
#/neural_network_model/results.json