venv/*
.idea
.pytest_cache
.coverage
.vscode
htmlcov
src/__pycache__
test/__pycache__
tests/test_resources
dataset/
dataclass_prac/
.tox/
.mypy_cache/
dataset_augmented/
dataset_train_test_val/
deep_model/
google_drive_credential/
s3_dataset/
ec2_key/
.env
dist/
drillvision.egg-info/

/build/
